* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font: 16px/1.6 "Ubuntu", Georgia, serif;
  color: #444444;
  background: #fafafa;
}

a {
  color: #f1345c;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.07s linear;
  -moz-transition: all 0.07s linear;
  -webkit-transition: all 0.07s linear;
  -o-transition: all 0.07s linear;
}

a:hover {
  border-bottom: 1px solid #f1345c;
}

a.noline {
  border: none;
}

p {
  margin: 0 0 25px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px;
  font-weight: normal;
}

h1 {
  font-size: 30px;
  color: #f1345c;
}

h2 {
  font-size: 1.316em;
}

h1 a {
  color: #333333;
  border: none;
  font-weight: normal;
}

h1 a:hover {
  color: #f1345c;
  border: none;
}

header {
  padding: 50px 30px 0;
  width: 1060px;
  margin: 0 auto;
}

article {
  border-top: 1px solid #dddddd;
  padding: 30px 0 25px;
}

.divider {
  margin: 0 0 25px;
  border-top: 1px solid #dddddd;
}

article:last-child {
  border-bottom: 1px solid #dddddd;
}

article h1 {
  margin: 0;
}

.date {
  display: block;
  margin-bottom: 5px;
  color: #aaaaaa;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.content {
  width: 700px;
  padding: 30px 40px 30px 30px;
  float: left;
}

aside {
  width: 360px;
  padding: 30px 30px 30px 40px;
  float: right;
}

small {
  font-size: 0.789em;
  display: block;
  margin: 0 0 1.316em;
}

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.thumbs {
  display: block;
  margin-right: -20px;
  margin-bottom: 5px;
}

.instagram_thumb img {
  width: 80px;
  height: 80px;
  margin: 0 20px 20px 0;
  opacity: 0.5;
  border: none;
}

.instagram_thumb:hover {
  border: none;
}

.instagram_thumb:hover img {
  opacity: 1;
}

@media all and (max-width: 460px) {
  body {
    font-size: 16px;
  }
}

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    word-wrap: break-word;
    padding: 1.579em;
    line-height: 1.053em;
    margin: 1.842em 0;
}

code {
    border: 1px solid #eaeaea;
    margin: 0 0.105em;
    padding: 0 0.263em;
}

pre code {
    border: 0;
    padding: 0;
    margin: 0;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
    color: #333333;
    background: #f8f8f8;
}

pre, pre code {
    font-size: 14px;
}

pre .comment {
    color: #999988;
}

pre .support {
    color: #0086b3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #009999;
}

pre .entity.class {
    color: #445588;
}

pre .entity.id, pre .entity.function {
    color: #990000;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #dd1144;
}

pre .regexp {
    color: #009926;
}