body {
  -webkit-font-smoothing: antialiased;
  font: 19px/1.5 "rooney-web", Georgia, serif;
  color: #333333;
  border-top: 8px solid #222222;
}

a {
  color: #00a7de;
  text-decoration: none;
  border-bottom: 1px solid #00a7de;
  transition: all 0.07s linear;
  -moz-transition: all 0.07s linear;
  -webkit-transition: all 0.07s linear;
  -o-transition: all 0.07s linear;
}

a:hover {
  color: #000000;
  border-color: #000000;
}

a.noline {
  border: none;
}

p {
  margin: 25px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 25px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h2 a {
  color: #333333;
  border: none;
}

h2 a:hover {
  color: #00a7de;
  border: none;
}

article {
  margin: 0 0 40px;
}

article p {
  color: #555555;
}

article:last-child {
  margin: 0;
}

.date {
  display: block;
  margin-top: -10px;
  font-size: 15px;
  color: #aaaaaa;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 40px;
}

.profile {
  border-bottom: 1px solid #dddddd;
}

.profile .container {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
}

.profile .container .description {
  margin-top: 35px;
}

.profile .container small {
  margin: 0;
}

small {
  font-size: 15px;
  display: block;
  margin: 0 0 25px;
}

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 0 -10px;
}

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    word-wrap: break-word;
    padding: 30px;
    line-height: 20px;
    margin: 35px 0;
}

code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

pre, code {
    font-family: 'Monaco',courier,monospace;
    color: #333;
    background: #f8f8f8;
}

pre, pre code {
    font-size: 14px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}